numpy==1.26.4
pandas==2.2.3
scipy==1.14.1
scikit-learn==1.5.2
scikit-survival==0.23.1
torch==2.7.0
torchvision==0.22.0
torch-geometric==2.6.1
torch-sparse==0.6.18
transformers==4.47.1
timm==1.0.15
huggingface-hub==0.27.0
safetensors==0.4.5
tokenizers==0.21.0
einops==0.8.0
faiss-gpu==1.7.2
h5py==3.12.1
pillow==11.0.0
POT==0.9.5
ptflops==0.7.4
PyYAML==6.0.2
requests==2.32.3
tqdm==4.67.1
numexpr==2.10.2
networkx==3.4.2
joblib==1.4.2
